
<nav class="navbar navbar-expand navbar-light bg-dark fixed-top" style='opacity: .9;'>
  <a class="navbar-brand" href="#"><%= link_to '<i class="fas fa-cocktail" style="color: yellow; font-size: 20px;"></i>'.html_safe, cocktails_path %></a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="flex-direction: row-reverse;">
    <form action='/search' class="form-inline my-2 my-lg-0">
      <input name='query' class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form>
  </div>
</nav>
